$main-bg: #dfe6e9;
$purple: #160f30;
$deep-purple: darken($purple, 10%);
$light-green: #69779b;

// Basic Styling
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 1em;
	li {
		list-style: none;
		a {
			padding: 1em;
			color: white;
			text-decoration: none;
			-webkit-transition: background-color .5s;
			-o-transition: background-color .5s;
			transition: background-color .5s, color .5s;
			&:hover {
				background-color: $light-green;
				color: $deep-purple;
			}
			.contact {
				border: 1px solid white;
			}
		}
	}
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
	background: linear-gradient(to bottom right, $purple, #967ADC);
	color: white;
	.slam-left {
		margin-right: auto;
	}
}

@media all and (max-width: 500px) {
	ul {
		padding: 0;
		li {
			width: 100%;
			a {
				display: block;
				text-align: center;
			}
		}
	}
	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		.slam-left {
			margin-right: 0;
		}
	}
}